@Html.Partial("header.cshtml")

<form id="english" action="/leetspeak" method="post">
  <label for="english">Phrase</label>
  <input type="text" name="english">
  <button type="submit">Submit</button>
</form>

<p> @Model </p>
