form {
  width:70%;
  margin:auto;
}

label, input {
  display: inline-block;
}
label {
  width:29%;
}
input {
  width:70%;
}
[type=submit] {
  width:100%;
}

a {
  padding:10px;
  background:lightgray;
  display: block;
  margin: 5px;
  border:1px solid black;
}

a:hover {
  color:white;
  background: black;
